<strong>Olá, {{student.name}}</strong>
<p>Sua pergunta foi respondida, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong>{{helpOrder.question}} <br>
  <strong>Resposta: </strong>{{helpOrder.answer}} <br>
</p>
